{%for day in data.days%}
	    	
	<div class='row day_row'>

		<span class='day_date noselect' data-day="{{day.entries[0].get_local_start_time().weekday()}}" data-date="{{day.entries[0].get_local_start_time().strftime('%d-%m')}}">
			{{day.date}}
			<a class="view_day_on_toggl" href="{{day.toggl_date_url}}"><img src="/static/img/external.png"/></a>
		</span>

		<span class='untracked_time_background'></span>

		{%for entry in day.entries%}

			<span class='track_block tracked_time {{entry.class}}' style="background-color:{{entry.get_project_color()}}; width:{{entry.get_day_percentage()}}%; left:{{entry.get_start_percentage()}}%" data-toggle="tooltip" data-html="true" title="{{entry.get_tooltip()}}" data-project="{{entry.project}}" data-description="{{entry.description}}" data-date="{{day.date}}" data-client="{{entry.client}}" data-client-hex="{{entry.get_client_hex_color()}}" data-project-hex="{{entry.project_hex_color}}">
				<span>‏‏‎&#32</span>
			</span>

		{%endfor%}
	</div>

{%endfor%}