{% extends 'base.html' %}

{% block body %}
<script type="text/javascript">
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>

	<div class='container main_container'>
		<form action="/comparison_data" id="comparison_form" method="post" class="form-horizontal">
			
			
			<div id="comparison_form_contents">
				<div class="btn-group btn-group-toggle comparison_mode_radio" data-toggle="buttons">
					<label class="btn btn-secondary active">
						<input type="radio" name="period_type" id="calendar_mode" autocomplete="off" value="calendar" checked> Calendar
					</label>
					<label class="btn btn-secondary">
						<input type="radio" name="period_type" id="goals_mode" autocomplete="off" value="goals"> Goals
					</label>
					<label class="btn btn-secondary">
						<input type="radio" name="period_type" id="custom_mode" autocomplete="off" value="custom"> Custom
					</label>
				</div>
				<div class="btn-group btn-group-toggle sort_type_radio" data-toggle="buttons">
					<label class="btn btn-secondary active">
						<input type="radio" name="sort_type" id="absolute_sort_type" autocomplete="off" value="ratio" checked> Relative
					</label>
					<label class="btn btn-secondary">
						<input type="radio" name="sort_type" id="absolute_sort_type" autocomplete="off" value="difference"> Absolute
					</label>
				</div>
				<div class="form-row custom_comparison_settings">
					<div class="col-md-6">
						<label for="timeframe">Compare...</label>
						<select class="form-control" id="timeframe" name="timeframe">
							<option value="1">Today</option>
							<option value="7" selected="selected">Past 7 days</option>
							<option value="30">Past 30 days</option>
							<option value="90">Past 90 days</option>
							<option value="180">Past 180 days</option>
							<option value="365">Past 365 days</option>
						</select>
					</div>
					<div class="col-md-6">
						<label for="datarange"> to...</label>
						<select class="form-control" id="datarange" name="datarange">
							<option value="1">Previous day before that</option>
							<option value="7" selected="selected">Previous 7 days before that</option>
							<option value="30">Previous 30 days before that</option>
							<option value="90">Previous 90 days before that</option>
							<option value="180">Previous 180 days before that</option>
							<option value="365">Previous 365 days before that</option>
							<option value="1000">All Time before that</option>
						</select>
					</div>
				</div>

				<div class="form-row calendar_comparison_settings">
					<div class="col-md-6">
						<select class="form-control" id="calendar_period" name="calendar_period">
							<option value="day">Today vs. Yesterday</option>
							<option value="week" selected="selected">This week vs. Last week</option>
							<option value="month">This month vs. Last month</option>
							<option value="month-of-year">This month vs. same month of last year</option>
							<option value="quarter">This quarter vs. Last quarter</option>
							<option value="half-year">This year half vs. Last year half</option>
							<option value="year">This year vs. Last year</option>
						</select>
					</div>
					<div class="col-md-6 live_mode_container">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" name="live_mode_calendar" id="live_mode_calendar" checked>
							<label class="custom-control-label" for="live_mode_calendar">Live mode</label>
						</div>

						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" name="include_empty_projects" id="include_empty_projects">
							<label class="custom-control-label" for="include_empty_projects">Include projects with no recent time</label>
						</div>
					</div>
				</div>

				<div class="form-row goals_comparison_settings">
					<div class="col-md-6">
						<select class="form-control" id="goals_period" name="goals_period">
							<option value="day">Today</option>
							<option value="week">This week</option>
							<option value="month" selected="selected">This month</option>
							<option value="year">This year</option>
						</select>
					</div>
					<div class="col-md-6 live_mode_container">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" name="live_mode_goals" id="live_mode_goals" checked>
							<label class="custom-control-label" for="live_mode_goals">Live mode</label>
						</div>

						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" name="hide_completed" id="hide_completed">
							<label class="custom-control-label" for="hide_completed">Hide completed</label>
						</div>
					</div>
				</div>

				<div id="comparison_weekday_selection">
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" checked="checked" name="all-weekdays" id="all-days-checkbox">
						<label class="form-check-label active" for="all-days-checkbox">All</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" value="0" checked="checked" name="weekdays" id="monday-checkbox">
						<label class="form-check-label active" for="monday-checkbox">Mon</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" value="1" checked="checked" name="weekdays" id="tuesday-checkbox">
						<label class="form-check-label active" for="tuesday-checkbox">Tue</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" value="2" checked="checked" name="weekdays" id="wednesday-checkbox">
						<label class="form-check-label active" for="wednesday-checkbox">Wed</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" value="3" checked="checked" name="weekdays" id="thursday-checkbox">
						<label class="form-check-label active" for="thursday-checkbox">Thur</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" value="4" checked="checked" name="weekdays" id="friday-checkbox">
						<label class="form-check-label active" for="friday-checkbox">Fri</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" value="5" checked="checked" name="weekdays" id="saturday-checkbox">
						<label class="form-check-label active" for="saturday-checkbox">Sat</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" value="6" checked="checked" name="weekdays" id="sunday-checkbox">
						<label class="form-check-label active" for="sunday-checkbox">Sun</label>
					</div>
					<span class="comparison_reload">&#x21bb;</span>
				</div>

			</div>

			
			

			
		</form>

	




		<div id="graph_container"></div>
	</div>

	
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
	<script src="{{ url_for('static', filename='js/comparison.js') }}"></script>
	<!--<script src="{{ url_for('static', filename='js/timelines.js') }}"></script>-->
{% endblock %}