{% extends 'base.html' %}

{% block body %}
	<script type="text/javascript">
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>

	<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap" rel="stylesheet">

	<div class="home_page_container">
	  
		<h1 id="main_title">Toggl Timelines</h1>

		<div>
			<div class="home_page_row">
				<a href="/timelines">
					<img src="/static/img/timelines.png" class="rounded mx-auto d-block" alt="Timelines">
					<div class="home_page_link">Timelines</div>
				</a>
			</div>
			<div class="home_page_row">
				<a href="/timelines">
					<img src="/static/img/comparison.png" class="rounded mx-auto d-block" alt="Comparison">
					<div class="home_page_link">Comparison</div>
				</a>
			</div>
			<div class="home_page_row">
				<a href="/timelines">
					<img src="/static/img/frequency.png" class="rounded mx-auto d-block" alt="Graphin">
					<div class="home_page_link">Graphing</div>
				</a>
			</div>
			<div class="home_page_row">
				<a href="/timelines">
					<img src="/static/img/reading.png" class="rounded mx-auto d-block" alt="Timelines">
					<div class="home_page_link">Reading</div>
				</a>
			</div>
		</div>
	</div>
{% endblock %}