{% extends 'base.html' %}

{% block body %}

	<div class='container main_container'>
		
		<form id="history-type-selector">
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<label class="btn btn-secondary">
					<input type="radio" name="history_type" autocomplete="off" value="details" checked> Year Details
				</label>
				<label class="btn btn-secondary">
					<input type="radio" name="history_type" autocomplete="off" value="books_completed"> Books Completed Graph
				</label>
				<label class="btn btn-secondary">
					<input type="radio" name="history_type" autocomplete="off" value="reading_time"> Reading Time Graph
				</label>
			</div>
		</form>

		{% include "reading/history_details.html" %}

		

		<div id="history-readthrough-details"></div>

		<div id="history_graph_container"></div>



		<div id="reading-graph-year-toggles">
			<label><input type="checkbox" name="all" class="reading-graph-checkbox" checked> All</label>
			{% for year in data.years %}
				<label><input type="checkbox" name="{{year}}" class="reading-graph-checkbox" checked> {{year}}</label>
			{% endfor %}
		</div>


	</div>

	

<script src="https://d3js.org/d3.v5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
<script src="{{ url_for('static', filename='js/reading-history.js') }}"></script>
{% endblock %}