{% extends 'base.html' %}

{% block body %}
	<div class='container main_container'>
		
		<div class="books-container">
			
			<div id="new-readthrough-container">
				Add readthrough: <input type="text" id="new-readthrough-search" name="book_title" placeholder="Book Title" autocomplete="off">
			</div>

			<div class="books-search-results"></div>
			
		</div>

		<div class="active-readthroughs">
			<h3>Currently Reading</h3>

			{% if data.active_readthroughs|length == 0 %}
				No active readthroughs
			{% else %}
				{%for readthrough in data.active_readthroughs%}
	    			{% include "reading/readthrough.html" %}
	    		{%endfor%}
			{% endif %}
		</div>



	</div>

	



<script src="{{ url_for('static', filename='js/reading.js') }}"></script>
{% endblock %}