{% extends 'base.html' %}

{% block body %}
	
	<div class='container main_container'>
		
		<div class="books-container">

			<a type="button" class="btn btn-dark" id="reading-history-button" href="{{url_for('reading.history')}}">History</a>
			
			<div id="new-readthrough-container">
				Add readthrough: <input type="text" id="new-readthrough-search" name="book_title" placeholder="Book Title" autocomplete="off">
				<span class="reading-reload">&#x21bb;</span>
			</div>

			<div class="books-search-results"></div>
			
		</div>

		
		{% include "reading/active_readthroughs.html" %}

		{% include "reading/past_readthroughs.html" %}



	</div>

	



<script src="{{ url_for('static', filename='js/reading.js') }}"></script>
{% endblock %}