<div class="past-readthroughs">
	<div id="previously-read-header">
		<h3>Previously Read</h3>
		<input type="text" id="past-readthrough-search" name="past_readthrough_search" placeholder="Search" autocomplete="off" />
	</div>

	<div id="past-readthroughs-sort-type-container">
		Sort by 
		<select name="readthroughs-sort-type" id="readthroughs-sort-type">
			<option value="date">Date</option>
			<option value="total-time">Total reading time</option>
			<option value="total-days">Total reading days</option>
			<option value="daily-time">Average daily reading time</option>
			<option value="daily-progress">Average daily percentage</option>
			<option value="time-per-percentage">Average time per percentage</option>
		</select>

		<div class="arrow-down" onclick="change_readthroughs_sort_order()" title="Descending"></div>

	</div>

	<div id="past-readthrough-search-results">
	</div>

	<div id="past-readthrough-loading-results">
	</div>
</div>

<button type="button" class="btn btn-info load-past-readthroughs">Show previously read</button>
<button type="button" class="btn btn-info" id="load-all-readthroughs">Load all</button>