{% macro sentence_case(text) %}
    {{ text[0]|upper}}{{text[1:] }}
{% endmacro %}

<div class="readthrough-control" data-id="{{readthrough.id}}">
	<div class="readthrough-image">
		<img src="{{readthrough.book.image_url}}">
		<p><strong>{{readthrough.format_current_position(html=True)|safe}}</strong></p>
	</div>
	<div class="readthough-details">
		<h3 class="book-title">{{readthrough.book.title}}</h3>
		<p><strong>Format: </strong>{{sentence_case(readthrough.book_format)}}</p>
		<p><strong>Start date: </strong><span class="hidden-input" data-endpoint="update_start_date" data-date={{readthrough.start_date}}>{{readthrough.format_date(readthrough.start_date)}}</span></p>

		{% if readthrough.is_readthrough_complete() %}
			<p><strong>End date: </strong><span class="hidden-input" data-endpoint="update_end_date" data-date={{readthrough.end_date}}>{{readthrough.format_date(readthrough.end_date)}}</span></p>
		{% endif %}

		<p><strong>Total reading time: </strong>{{readthrough.get_current_reading_time()}}</p>
		<p><strong>Average daily progress: </strong>{{readthrough.get_average_daily_progress()}}</p>
		<p><strong>Average daily time: </strong>{{readthrough.get_average_daily_reading_time()}}</p>
		<p><strong>Average time per {{readthrough.get_position_unit()}}: </strong>{{readthrough.get_time_per_position_unit()}}</p>
		
		{% if not readthrough.is_readthrough_complete() %}
			<p><strong>Estimated completion time: </strong>{{readthrough.get_estimated_completion_time()}}</p>
			<p><strong>Estimated completion date: </strong>{{readthrough.get_estimated_completion_date()}}</p>
		{% endif %}		
	</div>

	{% if not readthrough.is_readthrough_complete() %}
		<div class="readthrough-target-end-date">
			<p><strong>Target end date: </strong><span class="hidden-input" data-endpoint="update_target_end_date" data-date={{readthrough.target_end_date}}>{{readthrough.get_target_end_date()}}</span></p>
			
			{% if readthrough.target_end_date %}
				<p><strong>Remaining days: </strong>{{readthrough.get_days_until_target_end()}}</p>

				{% if readthrough.get_days_until_target_end(raw=True) >= 0 %}
					<p><strong>Required pages/percentage per day: </strong>{{readthrough.get_required_daily_units_for_target_end()}}</p>
					<p><strong>Required time per day: </strong>{{readthrough.get_required_daily_time_for_target_date()}}</p>
				{% endif %}

			{% endif %}

			<hr/>

			<p><strong>Daily reading goal: </strong>{{readthrough.get_daily_reading_goal()|safe}}</p>
			
			{% if readthrough.get_daily_reading_goal(raw=True) %}
				<p><strong>Resulting end date: </strong>{{readthrough.get_daily_reading_goal_end_estimate()}}</p>
			{% endif %}

			<p><strong>Time read today: </strong><span class="{{readthrough.get_reading_goal_completion_class()}}">{{readthrough.get_readthrough_time_today()}}</span></p>

		</div>
	{% endif %}

</div>