<div class="readthrough-fields">
	<div class="readthough-details">
		<h3 class="book-title">{{readthrough.book.title}}</h3>
		
		<p><strong>Start date: </strong><span class="hidden-input" data-endpoint="update_start_date" data-date={{readthrough.start_date}}>{{readthrough.format_date(readthrough.start_date)}}</span></p>

		{% if readthrough.is_readthrough_complete() %}
			<p><strong>End date: </strong><span class="hidden-input" data-endpoint="update_end_date" data-date={{readthrough.end_date}}>{{readthrough.format_date(readthrough.end_date)}}</span></p>
		{% endif %}

		<p>
			<strong>Days reading: </strong>{{readthrough.get_total_days_reading()}}
			<span class="year-percentage-estimate">({{readthrough.get_current_year_percentage()}}% of year)</span>
		</p>
		<p><strong>Current reading time: </strong>{{readthrough.get_current_reading_time()}}</p>

		<p style="margin-bottom: 8px;">
			<strong>Current sessions: </strong> {{readthrough.get_number_of_sessions()}}
		</p>


		<div>
			<p style="margin-top: 8px"><strong>Average daily time: </strong>{{readthrough.get_average_daily_reading_time()}}</p>
			
			<p>
				<strong>Average daily progress: </strong>{{readthrough.get_average_daily_progress()}}
				{% if readthrough.is_physical() %}
					<span class="year-percentage-estimate">({{readthrough.get_average_daily_progress(force_percentage=True)}} )</span>
				{% endif %}
			</p>

			<p><strong>Average time per {{readthrough.get_position_unit()}}: </strong>{{readthrough.get_time_per_position_unit()}}</p>

			<p style="margin-bottom: 8px">
				<strong>Average time per session: </strong>{{readthrough.get_average_time_per_session()}}
			</p>
		</div>

		{% if not readthrough.is_readthrough_complete() %}
			<div>
				<p style="margin-top:8px"><strong>Estimated completion time: </strong>{{readthrough.get_estimated_completion_time()}}</p>
				<p><strong>Estimated completion date: </strong>{{readthrough.get_estimated_completion_date()}}</p>
				<p>
					<strong>Estimated total days: </strong>
					{{readthrough.get_estimated_total_days()}}
					<span class="year-percentage-estimate">({{readthrough.get_estimated_year_percentage()}}% of year)</span>
				</p>
				<p>
					<strong>Estimated total sessions: </strong> {{readthrough.get_estimated_total_sessions()}}
					<span class="year-percentage-estimate">({{readthrough.get_remaining_sessions()}} remaining)</span>
				</p>
			</div>
		{% endif %}		
	</div>

	{% if not readthrough.is_readthrough_complete() %}
		<div class="readthrough-goals">
			<p><strong>Target end date: </strong><span class="hidden-input" data-endpoint="update_target_end_date" data-date={{readthrough.target_end_date}}>{{readthrough.get_target_end_date()}}</span></p>
			
			{% if readthrough.target_end_date %}
				<p><strong>Remaining days: </strong>{{readthrough.get_days_until_target_end()}}</p>

				{% if readthrough.get_days_until_target_end(raw=True) >= 0 %}
					<p><strong>Required daily progress: </strong>{{readthrough.get_required_daily_units_for_target_end()}}</p>
					<p><strong>Required time per day: </strong>
						<span class="{{readthrough.get_reading_goal_completion_class('end_date')}}">
							{{readthrough.get_required_daily_time_for_target_date()}}
						</span>
					</p>
				{% endif %}

			{% endif %}

			<hr/>

			<p><strong>Daily reading goal: </strong>{{readthrough.get_daily_reading_goal()|safe}}</p>
			
			{% if readthrough.get_daily_reading_goal(raw=True) %}
				<p><strong>Resulting end date: </strong>{{readthrough.get_daily_reading_goal_end_estimate()}}</p>
			{% endif %}

			<p><strong>Time read today: </strong><span class="{{readthrough.get_reading_goal_completion_class()}}">{{readthrough.get_readthrough_time_today()}}</span></p>

			{% if readthrough.get_daily_reading_goal(raw=True) %}
				<p><strong>Current streak: </strong>{{readthrough.get_current_streak()}}</p>
			{% endif %}

		</div>
	{% endif %}

	{% if not hide_readthrough_buttons %}
		<button type="button" class="btn btn-secondary delete-readthrough-btn" data-id="{{readthrough.id}}" data-title="{{readthrough.book.title}}">Delete</button>

		<a class="btn btn-info" href="{{url_for('reading.graph')}}?readthrough_id={{readthrough.id}}">Graph</a>

		<!-- <button type="button" class="btn btn-success track-btn start-track" data-id="{{readthrough.id}}" data-title="{{readthrough.book.title}}">&#9658;</button> -->
	{% endif %}


</div>