<form class="frequency_line_control">
	
	<table>
		<tr>
			<th>Projects</th>
			<th>Description</th>
			<th class="line-date-control">Start <span class="frequency_date_reuse_icon">&#9842;</span></th>
			<th class="line-date-control">End <span class="frequency_date_reuse_icon">&#9842;</span></th>
			<th>Label</th>
			<th class="color-th">&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
		<tr>
			<th>
				<select name="projects" multiple class="frequency_project_selector">
					{% for project_name in data.projects %}
						<option value="{{project_name}}" data-color="{{data.projects[project_name]['color']}}">{{project_name}}</option>
					{% endfor %}
				</select>
			</th>
			<th>
				<input type="text" name="description" class="frequency_line_description form-control" autocomplete="false">
			</th>
			<th class="line-date-control">
				<input class="line_start_date form-control" type="date" name="start" value="{{data.first_entry_date}}"/>
			</th>
			<th class="line-date-control">
				<input class="line_end_date form-control" type="date" name="end" value="{{data.today_date}}"/>
			</th>
			<th>
				<input type="text" name="label" class="frequency_line_label form-control">
			</th>
			<th>
				<input type="color" name="color" value="#000000" class="frequency_line_color form-control">
			</th>
			<th><span class="frequency_control_button frequency_control_remove">&Cross;</span></th>
		</tr>
	</table>

</form>