{% extends 'base.html' %}

{% block body %}
	<script type="text/javascript">
		projects = {{data.projects|tojson}}
	</script>



	<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.css"/>


	<div id="frequency_settings_container">
		<form id="graph_controls" class="form-horizontal">
			
			<div id="graph_line_controllers"></div>

				<div class="form-inline">
					<div class="btn-group btn-group-toggle graph_type" data-toggle="buttons">
						<label class="btn btn-secondary active">
							<input type="radio" name="graph_type" id="normal" autocomplete="off" value="normal" checked> Normal
						</label>
						<label class="btn btn-secondary">
							<input type="radio" name="graph_type" id="frequency" autocomplete="off" value="frequency"> Frequency
						</label>
					</div>

					<div class="btn-group btn-group-toggle scope_type" data-toggle="buttons">
						<label class="btn btn-secondary active">
							<input type="radio" name="scope_type" id="frequency_minutes" autocomplete="off" value="minutes" checked> Minutes
						</label>
						<label class="btn btn-secondary">
							<input type="radio" name="scope_type" id="frequency_days" autocomplete="off" value="days"> Days
						</label>
						<label class="btn btn-secondary">
							<input type="radio" name="scope_type" id="frequency_months" autocomplete="off" value="months"> Months
						</label>
					</div>
					<div class="btn-group btn-group-toggle graph_style" data-toggle="buttons">
						<label class="btn btn-secondary active">
							<input type="radio" name="graph_style" id="line" autocomplete="off" value="line" checked> Line Graph
						</label>
						<label class="btn btn-secondary">
							<input type="radio" name="graph_style" id="bar" autocomplete="off" value="bar"> Bar Graph
						</label>
					</div>
				</div>

				<div class="form-inline">
					<strong>y axis type: </strong><select name="y_axis_type" id="y_axis_type" class="form-control"></select>
					<div id="global-graph-dates">
						From <input type="date" class="global-start-date form-control">
						To <input type="date" class="global-end-date form-control">
					</div>
				</div>

				<div class="form-inline">
					<button type="button" class="btn btn-sm btn-primary new_frequency_line_button">New Line</button>
					<button type="button" class="btn btn-sm btn-success" id="frequency_graph_submit">Create Graph</button>
				</div>

			</div>
		</form>
	</div>

	<div id="frequency_graph_container">
		<span id="frequency_settings_button" class="noselect">&#9776;</span>
	</div>

	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
	<script src="{{ url_for('static', filename='js/frequency.js') }}"></script>
{% endblock %}