{% include "head.html" %}

<body>
	<script type="text/javascript">
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>

	<div class='container main_container'>
		<form action="/comparison_data" id="comparison_form" method="post">
			<label for="timeframe">Compare...</label>
			
			<select id="timeframe" name="timeframe">
				<option value="1">Today</option>
				<option value="7" selected="selected">Past 7 days</option>
				<option value="30">Past 30 days</option>
				<option value="365">Past 365 days</option>
			</select>

			<label for="datarange"> to...</label>
			<select id="datarange" name="datarange">
				<option value="1">Previous Day</option>
				<option value="7" selected="selected">Previous 7 days</option>
				<option value="30">Previous 30 days</option>
				<option value="365">Previous 365</option>
				<option value="1000">All Time</option>
			</select>

			<label for="days">Days:</label>
			<select id="days" name="weekdays" multiple>
				<option value="0" selected="selected">Monday</option>
				<option value="1" selected="selected">Tuesday</option>
				<option value="2" selected="selected">Wednesday</option>
				<option value="3" selected="selected">Thursday</option>
				<option value="4" selected="selected">Friday</option>
				<option value="5" selected="selected">Saturday</option>
				<option value="6" selected="selected">Sunday</option>
			</select>
			<!--<button type="submit" class="btn btn-primary" id="comparison_update">Update</button>-->
		</form>



		<div id="graph_container"></div>
	</div>

	
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
	<script src="{{ url_for('static', filename='js/comparison.js') }}"></script>
	<!--<script src="{{ url_for('static', filename='js/timelines.js') }}"></script>-->
</body>
</html>