{% include "head.html" %}

<body>
	<!--<script type="text/javascript">
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>-->

	<script type="text/javascript">
		projects = {{data.projects|tojson}}
	</script>

	

	<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.css"/>


	<div id="frequency_settings_container">
		<form id="graph_controls" class="form-horizontal">
			
			<div id="graph_line_controllers"></div>

			<button type="button" class="new_frequency_line_button">New Line</button>
			<button type="button" id="frequency_graph_submit">Create Graph</button>

			
			<input type="radio" id="frequency_relative_mode" name="y_axis_type" value="relative" checked>
			<label for="relative"> Relative</label>

			<input type="radio" id="frequency_absolute_mode" name="y_axis_type" value="absolute">
			<label for="absolute"> Absolute</label>

			<input type="radio" id="frequency_average_mode" name="y_axis_type" value="average">
			<label for="absolute"> Average</label>

			|

			<input type="radio" name="scope_type" value="minutes">
			<label for="minutes">Minutes</label>

			<input type="radio" name="scope_type" value="days" checked>
			<label for="days">Days</label>
		</form>
	</div>

	<div id="frequency_graph_container">
		<span id="frequency_settings_button" class="noselect">&#9776;</span>
	</div>

	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
	<script src="{{ url_for('static', filename='js/frequency.js') }}"></script>
</body>
</html>