<form class="frequency_line_control">
	<select name="projects" multiple class="frequency_project_selector">
		{% for project_name in data.projects %}
			<option value="{{project_name}}" data-color="{{data.projects[project_name]['color']}}">{{project_name}}</option>
		{% endfor %}
	</select>

	<input type="text" name="description" placeholder="Description" class="frequency_line_description">
	

	<input class="line_start_date" type="date" name="start" value="2018-01-01"/>
	<input class="line_end_date" type="date" name="end" value="{{data.today_date}}"/>

	<input type="text" name="color" placeholder="Color" value="blue" class="frequency_line_color">
	<input type="text" name="label" placeholder="Label" class="frequency_line_label">

	<span class="frequency_control_button frequency_control_left">&#706;</span>
	<span class="frequency_control_button frequency_control_right">&#707;</span>
	<span class="frequency_control_button frequency_control_remove">&Cross;</span>	

</form>