<form class="frequency_line_control">
	<select name="projects" multiple class="frequency_project_selector">
		{% for project in data.projects %}
			<option value="{{project}}">{{project}}</option>
		{% endfor %}
	</select>

	<input type="text" name="description" placeholder="Description" class="frequency_line_description">
	

	<input type="date" name="start" value="2018-01-01"/>
	<input type="date" name="end" value="2020-12-31"/>

	<input type="text" name="color" placeholder="Color" value="blue">
	<input type="text" name="label" placeholder="Label">

	<span class="frequency_control_button frequency_control_left">&#706;</span>
	<span class="frequency_control_button frequency_control_right">&#707;</span>
	<span class="frequency_control_button frequency_control_remove">&Cross;</span>
	

</form>