{% include "head.html" %}

<body>
	<script type="text/javascript">
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>

	<div id="graph_controls">
		
		<div id="graph_line_controllers">
			<!--{% include "frequency_line_controls.html" %}-->
		</div>

		<button type="button" class="new_frequency_line_button">New Line</button>
		<button type="button" id="frequency_graph_submit">Create Graph</button>
	</form>

	<div id="graph_container"></div>

	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
	<script src="{{ url_for('static', filename='js/frequency.js') }}"></script>
</body>
</html>