{%for day in data.days%}
	    	
	<div class='row day_row'>

		<span class='day_date noselect' data-day="{{day.entries[0].start.weekday()}}" data-date="{{day.entries[0].start.strftime('%d-%m')}}">{{day.date}}</span>

		<span class='untracked_time_background'></span>

		{%for entry in day.entries%}

			<span class='track_block tracked_time {{entry.class}}' style="background-color:{{entry.get_project_color()}}; width:{{entry.get_day_percentage()}}%; left:{{entry.get_start_percentage()}}%" data-toggle="tooltip" data-html="true" title="{{entry.get_tooltip()}}" data-project="{{entry.project}}" data-description="{{entry.description}}" data-percentage="{{entry.day_percentage}}" data-date="{{day.date}}" data-client="{{entry.client}}" data-client-hex="{{entry.get_client_hex_color()}}" data-project-hex="{{entry.project_hex_color}}" data-tags="{{entry.tags}}">
				<span>‏‏‎&#32</span>
			</span>

		{%endfor%}
	</div>

{%endfor%}